.navbar {
  margin-bottom: 0;
}

.bg {
  background: url('../img/background.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 100%;
  top:-40px;
  left:0;
  z-index: -1;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: transparent;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.text-white-custom{
    color: #fff !important;
}

.btn-custom{
    color: #fff;
    background-color: #df913f;
    border-color: #df913f;
}

.fixed{
    position: fixed;
    width: 100%;
    z-index: 99999;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
